#footer
  background url('../img/patternRodape.png') repeat
  width 100%
  color #EEDFCF
  height auto
  padding-top 3.438em

#copyright
  margin-top 10px
  border-top 1px solid #EEDFCF
  font-size 14px
  text-align right
  padding-top 10px
  font-family 'Roboto', sans-serif

ul.icons-footer
  margin-left 0px
  padding-left 0px
  display block
  text-align center
  margin-bottom 8px

ul.icons-footer li:first-child
  margin-left 0

ul.icons-footer li
  list-style none
  display inline-block
  margin-left 10px

ul.logo-footer
  width 100%
  display inline-block
  text-align center
  margin-bottom 8px
  margin-top 28px
  padding 0px !important

ul.logo-footer li
  list-style none
  display inline-block
  margin-left 10px
