body
    background #FFF3E3

#header
    background #19305A
    height 60px

h1
    font-family 'Roboto', sans-serif
    text-transform uppercase
    font-weight bold
    color #CE6900
    font-size 24px
    padding-bottom 12px
    border-bottom 1px solid #CE6900
    margin-bottom 30px

h2
    font-family 'Roboto', sans-serif
    text-transform uppercase
    font-weight bold
    color #19305A
    font-size 16px
    padding 0px
    margin 0px
    margin-bottom 10px
    a
        font-weight bold

a
    font-family 'Roboto', sans-serif
    text-transform uppercase
    font-weight 300
    color #19305A
    font-size 15px
    padding 0px
    margin 0px
    padding-top 4px
    padding-bottom 4px
    display inline-block
    width 100%
    clear both
    text-decoration none
    & i
        width 30px
    &:hover
        text-decoration none
        color #CE6900

.h2-home
    margin-top 20px

.col-sidebar
    border-right 1px solid #CE6900

.btn-primary
    width 100% !important
    border none !important
    text-transform uppercase
    margin-top 20px
    background #19305A
    font-family 'Roboto', sans-serif
    font-weight bold
    font-size 18px

label
    font-weight bold
    font-family 'Roboto', sans-serif
    color #F68B1F
    text-transform uppercase

input[type="text"],
textarea,
input[type="email"],
input[type="password"]
    width 100%
    clear both
    display inline-block
    margin-bottom 10px
    background transparent
    border-radius 6px
    border 2px solid #EEDFCF
    padding-top 6px
    padding-bottom 6px
    box-shadow 0px 0px 2px #EEDFCF
    padding-left 12px
    font-family 'Roboto', sans-serif
    color #F68B1F

div.col-main
    h1
        color #F68B1F !important
        border-color #F68B1F !important

td
    color #F68B1F

td.actions
    a
        color #19305A
        font-weight bold
        display inline-block
        width auto
        border-right 1px solid #EEDFCF
        padding-left 6px
        padding-right 6px
        &:last-child
            border none !important

.cke_button
    display inline-block !important
    clear none !important

.input-name,
.input-description
    width 200px
    height 100px